## General

# Compiled python
*.pyc

# IPython notebook checkpoints
.ipynb_checkpoints

# Editor temporaries
*.swp
*~

# Sublime Text settings
*.sublime-workspace
*.sublime-project

# PyCharm files
.idea

# OSX dir files
.DS_Store


# Flask app
*.sqlite3
uploads/
